@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #081b29;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navbar-logo {
  padding: 15px;
  color: #fff;
}

.navbar-mainbg {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #081b29;
  padding: 15px;
}
#navbarSupportedContent {
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul {
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i {
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 20px 20px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}
#navbarSupportedContent > ul > li.active > a {
  color: #081b29;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  display: inline-block;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  bottom: 10px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #081b29;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}

.home {
  height: 100vh;
  padding: 0 10%;
  display: flex;
  align-items: center;
  background-color: #081b29;
}

.home__content {
  flex: 1;
  text-align: left;
}

.home__content h1 {
  position: relative;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 1.2;
  color: white;
}

.home__content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.3s;
}

.home__content h3 {
  position: relative;
  font-size: 2vw;
  font-weight: 700;
  color: #00abf0;
}

.home__content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.6s;
}

.home__content p {
  position: relative;
  font-size: 1vw;
  margin: 1.04vw 0 2.08vw;
  color: white;
}

.home__content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home__content .home__talk-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 17.96vw;
  height: 2.6vw;
}

.home__content .home__talk-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.4s;
  z-index: 2;
}

.home__talk-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 7.81vw;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 0.41vw;
  font-size: 0.98vw;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home__talk-box a:hover {
  color: #00abf0;
}

.home__talk-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.home__talk-box a:nth-child(2):hover {
  color: #081b29;
}

.home__talk-box a:nth-child(2)::before {
  background: #00abf0;
}
.home__talk-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.home__talk-box a:hover::before {
  width: 100%;
}

.home__social {
  position: absolute;
  margin-top: 30vw;
  margin-left: 10vw;
  width: 16vw;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.home__social::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
  z-index: 2;
  text-decoration: none;
}

.home__social a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 3vw;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  text-decoration: none;
}

.home__social a:hover {
  color: #081b29;
  text-decoration: none;

}

.home__social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
  text-decoration: none;

}

.home__social a:hover::before {
  width: 100%;
  text-decoration: none;

}

.home__capa {
  text-align: right;
  flex: 1;
}

.home__capa img {
  max-width: 100%;
  height: auto;
  border-radius: 1vw;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* Second Page */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw 0;
  background-color: #081b29;
}

.about__content {
  flex: 1;
  padding: 2vw;
  text-align: left;
}

.about__title {
  font-size: 3.333vw;
  margin-bottom: 1vw;
  padding: 0 0 0 6vw;
  color: white;
}

span {
  color: #00abf0;
}

.about__content ul {
  list-style: none;
  padding: 0 0 0 6vw;
  margin-bottom: 2vw;
}

.about__titulo {
  color: #00abf0;
}

.about__subtitulo {
  color: white;
}

.about__content li {
  font-size: 1.25vw;
  margin-top: 0.26vw;
}

.about__titulo-link {
  color: white;
}

.about__image {
  flex: 1;
  text-align: right;
  margin-right: 4vw;
  border-radius: 5vw;
}

.about__image img {
  max-width: 80%;
  height: auto;
}

.about__cv {
  padding: 0 0 0 6vw;
  display: inline-block;
}

.about__cv a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 0.41vw;
  font-size: 1.2vw;
  color: #081b29;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 0.52vw;
}

.home__talk-box a:hover {
  color: #00abf0;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #081b29;
}

.portfolio__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.portfolio__title {
  font-size: 3.333vw;
  padding: 0 0 0 7.75vw;
  color: #00abf0;
}

.portfolio__buttons {
  display: flex;
}

.portfolio__buttons_style {
  background-color: #00abf0;
  border: none;
  border-radius: 0.5vw;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 1vw 2vw;
}

.portfolio__buttons button {
  background-color: #081b29;
  color: white;
  border: none;
  margin-right: 2vw;
  padding: 0.52vw 1.041vw;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.portfolio__buttons button:hover {
  background-color: #0056b3;
}

.portfolio__buttons button:active {
  background-color: #003580;
}

.portfolio__buttons button i {
  font-size: 2vw;
}

.portfolio__images {
  margin-top: 2vw;
  margin-left: 8vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.52vw;
}

.portfolio__images a {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.portfolio__images img {
  max-width: 80%;
  height: auto;
  border: 1px solid #ccc;
  padding: 0.52vw;
  transition: border 0.3s ease, transform 0.3s ease;
}

.portfolio__images img:hover {
  border-color: #007bff;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

#loadMore {
  margin-top: 0.52vw;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.5vw;
  font-size: 1vw;

  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 1vw 2vw;
}

#loadMore:hover {
  background-color: #0056b3;
}

#loadMore:active {
  background-color: #003580;
}

.skills {
  text-align: center;
  padding: 2.5vw;
  width: 100%;
  background-color: #081b29;
}

.skills__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding: 0;
  margin: 0;
  margin-top: 2.5vw;
}

.skills__list li {
  margin: 1.3vw;
}

.skills__list img {
  max-width: 6vw;
  height: auto;
}

.skills__list figure {
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.skills__list figure:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.skills h2 {
  font-size: 3.333vw;
  margin-bottom: 1.04vw;
  color: #00abf0;
  text-align: left;
  margin-left: 1.833vw;
  padding: 0 0 0 3.5vw;
}

/* Experience Section */
.experience {
  padding: 0 8vw 0 8vw;
  background-color: #081b29;
  color: white;
  text-align: left;
}

.experience__title {
  font-size: 3.333vw;
  margin-bottom: 1.04vw;
  color: #00abf0;
}

.experience__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.experience__list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  max-width: 65%;
}

.experience__item {
  margin-bottom: 2vw;
}

.year {
  font-size: 2vw;
  color: #00abf0;
}

h3 {
  font-size: 10vw;
  font-weight: 1000;
}

p {
  font-size: 1.2vw;
  margin: 1.04vw 0;
}

.experience__right {
  margin-top: 3vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vw;
  flex: 1;
  max-width: 30%;
  align-items: flex-start;
}

.experience__box {
  background-color: #081b29;
  padding: 2vw;
  text-align: center;
  border: 2px solid #00abf0; /* Borda chamativa */
  border-radius: 10px; /* Arredondamento da borda */
  box-shadow: 0px 0px 10px rgba(1, 0, 0, 0);
}

.experience__box h3 {
  font-size: 2vw;
  font-weight: 700;
}

.experience__box p {
  font-size: 1.25vw;
  margin-top: 0.52vw;
}

.experience__more {
  text-align: left;
  width: 100%;
  margin-top: 2vw;
}

.btn {
  background-color: #00abf0;
  color: #fff;
  font-size: 1.25vw;
  padding: 0.83vw 2vw;
  text-decoration: none;
  border: none;
  border-radius: 0.52vw;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007b9d;
}

/* Education Section */
.education {
  padding: 8vw 8vw 0 8vw;
  background-color: #081b29;
  color: white;
  text-align: left;
}

.education__title {
  font-size: 3.33vw;
  margin-bottom: 1vw;
  color: #00abf0;
  text-align: left;
}

.education__padded h2 {
  font-size: 2.5vw;
  color: #00abf0;
  margin-bottom: 1vw;
  text-align: left;
  margin-left: 3.167vw;
  text-transform: uppercase;
}

.education__padded-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  margin-left: 3.333vw;
  margin-right: 3.333vw;
}

/* Education Boxes */
.education__padded-boxes > * {
  width: calc(33.333% - 1.667vw);
  border-radius: 0.333vw;
  background-color: #081b29;
  color: white;
  margin-bottom: 1.667vw;
  padding: 2vw;
}

/* Education Headings */
.education__heading {
  background-color: #00abf0;
  margin: 0;
  padding: 0.5vw;
  font-size: 1.5vw;
  border-top-left-radius: 0.333vw;
  border-top-right-radius: 0.333vw;
}

/* Padded Content */
.education__padded {
  padding: 2vw;
}

/* Year */
.education__padded .year i {
  padding-right: 0.167vw;
  color: orange;
  font-size: 1.5vw;
}

.education__padded .year {
  font-size: 1.5vw;
}

/* Heading 3 */
.education__padded h3 {
  font-size: 2vw;
  color: #00abf0;
}

/* Paragraph */
.education__padded p {
  font-size: 1.5vw;
  padding-top: 1.5vw;
  margin-bottom: 2vw;
  margin-top: 0;
}

/* More Button */
.education__more {
  display: inline-block;
  width: 12.5vw;
  margin-left: auto;
  margin-top: 2vw;
}

.education__more a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 1.25vw;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.education__more a:hover {
  background-color: #007b9d;
}

.icon-box {
  display: inline-block;
  background-color: #007bff;
  padding: 0.52vw;
  border-radius: 50%;
  color: white;
  font-size: 1vw; /* Aumente o tamanho do ícone */
  margin-right: 0.52;
}

h3 {
  font-size: 0.833vw; /* Reduza o tamanho do título */
  margin-bottom: 5px;
}

.contato {
  display: flex;
  align-items: center;
  background-color: #081b29;
}

.contato__titulo {
  color: white;
}

.contato__container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contato__lista {
  display: flex;
  flex-direction: column;
  row-gap: 7%;
  width: 50%;
}

.contato__conteudo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin-top: 5%;
}

.contato__formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contato__input {
  padding: 1.5vh;
  background-color: white;
  color: black;
  border-radius: 8px;
  border: solid 1px #00abf0;
  margin-bottom: 3%;
}

.contato__formulario textarea {
  font-family: "Roboto", sans-serif;
}

.contato__mensagem {
  height: 40%;
}

.contato__botoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contato__redes-sociais {
  display: flex;
  justify-content: space-between;
  width: 8%;
}

.contato__rede {
  color: #00abf0;
  font-size: clamp(1rem, 1vh, 3rem);
  border-radius: 50px;
}

.icone__fundo {
  color: #00abf0;
}

.contato__rede:hover .icone__fundo {
  color: #00abf0;
}

.contato__rede:hover .icone__marca {
  color: green;
}

.disabled {
  background-color: rgb(97, 97, 97);
}

.success {
  background-color: rgb(32, 77, 32);
}

.error {
  background-color: rgb(83, 13, 13);
}

.snackbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 3%;
  font-size: clamp(2rem, 2vh, 3rem);
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  text-align: center;
  font-weight: bold;
}

.snackbar.success {
  background-color: rgb(32, 77, 32);
}

.snackbar.error {
  background-color: rgb(83, 13, 13);
}

.lista__item {
  display: flex;
}

.item__icone {
  padding: 1%;
  border-radius: 5px;
  background-color: #00abf0;
  font-size: clamp(1vmin, 2.5vmin, 2.5vmin);
  color: #111111;
  margin-right: 1%;
}

.item__conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item__titulo {
  color: #00abf0;
}

.item__descricao {
  font-weight: bold;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
  background: #00abf0;
}

.footer__text p {
  font-size: 1rem;
}

.footer__iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: #00abf0;
  border: 0.2rem solid #081b29;
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

.footer__iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.2s;
}

.footer__iconTop a:hover::before {
  width: 100%;
}

.footer__iconTop a i {
  font-size: 1vw;
  color: white;
  transition: 0.5s;
}

.footer__text a:hover i {
  color: white;
}

.footer {
  padding: 1.667vw 4%;
}

@media (min-width: 992px) {
  .navbar-expand-custom {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (max-width: 991px) {
  #navbarSupportedContent ul li a {
    padding: 12px 30px;
  }
  .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right {
    right: 10px;
  }
  .hori-selector .left {
    top: -25px;
    left: auto;
  }
  .hori-selector .right {
    bottom: -25px;
  }
  .hori-selector .left:before {
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
  }
}
