@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 5.3vw;
  background: #0f172a;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 17vw;
}
.sidebar .logo-details {
  height: 4.08vw;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: white;
  font-size: 1.36vw;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 1.49vw;
  transition: all 0.4s ease;
  font-size: 1.56vw;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: white;
  height: 4.08vw;
  min-width: 3.4vw;
  font-size: 1.9vw;
  text-align: center;
  line-height: 4.08vw;
}
.sidebar .nav-list {
  margin-top: 1.36vw;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -1.36vw;
  left: calc(100% + 1.02vw);
  z-index: 3;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 1.02vw;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 1.02vw;
  color: white;
  font-weight: 400;
  outline: none;
  height: 3.4vw;
  width: 100%;
  width: 3.4vw;
  border: none;
  border-radius: 0.81vw;
  transition: all 0.5s ease;
  background: #0f172a;
}
.sidebar.open input {
  padding: 0 1.36vw 0 3.4vw;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.49;
  background: #0f172a;
  color: white;
}
.sidebar.open .bx-search:hover {
  background: #0f172a;
  color: white;
}
.sidebar .bx-search:hover {
  background: white;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #0f172a;
}
.sidebar li a:hover {
  background: white;
}
.sidebar li a .links_name {
  color: white;
  font-size: 1.02vw;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #0f172a;
}
.sidebar li i {
  height: 3.4vw;
  line-height: 3.4vw;
  font-size: 1.22vw;
  border-radius: 0.81vw;
}
.sidebar li.profile {
  position: fixed;
  height: 4.08vw;
  width: 5.3vw;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #0f172a;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 17vw;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 3.06vw;
  width: 3.06vw;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 1.02vw;
  font-weight: 400;
  color: white;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 1.02vw;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #0f172a;
  width: 100%;
  height: 4.08vw;
  line-height: 4.08vw;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 3.4vw;
  background: none;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 0.68vw;
  background: lightgrey;
  margin-left: 2vw;
  border-radius: 0.4vw;
  margin-right: 2vw;
}

.search-bar input {
  flex-grow: 1;
  padding: 0.34vw;
  border: 1px solid #ccc;
  border-radius: 0.4vw;
  font-size: 1.08vw;
}

.search-bar i {
  font-size: 1.63vw;
  margin-left: 2vw;
  cursor: pointer;
  margin-right: 2vw;
}

.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 5.3vw;
  width: calc(100% - 5.3vw);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 17vw;
  width: calc(100% - 17vw);
}

.dropdown {
  position: relative;
}

.icon-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: top;
  top: 100%;
  left: 100%;
  background: #0f172a;
  border: 1px solid;
  border-radius: 4px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 0.54vw 0.81vw;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background: transparent;
  transform: scale(1.1);
}

.home-section h1 {
  display: inline-block;
  color: #0f172a;
  font-size: 5vw;
  font-weight: 500;
  margin: 1.22vw;
  margin-left: 2vw;
}

@media (max-width: 28.57vw) {
  .sidebar li .tooltip {
    display: none;
  }
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  margin: 1.36vw;
}

th,
td {
  border: 1px solid white;
  padding: 1.08vw;
  text-align: left;
  transition: background-color 0.3s;
}

th {
  background-color: white;
  font-size: 2vw;
}

tr {
  font-size: 1.2vw;
}

tr:nth-child(even) {
  background-color: white;
}

tbody tr:hover {
  background-color: #0f172a;
  color: white;
}

.modal {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  display: none;
}

.modal.active {
  background: rgba(0, 0, 0, 0.5);
}

.modal h2 {
  font-size: 4vw;
  color: #0f172a;
}

.modal-content {
  background-color: white;
  width: 50vw;
  margin: 10vh auto;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 0 2vw rgba(0, 0, 0, 0.3);
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content ul li {
  margin-bottom: 1.36vw;
}

.modal-content label {
  font-weight: bold;
  font-size: 1vw;
}

.modal-content input[type="text"],
.modal-content textarea {
  width: 100%;
  padding: 1vw;
  border: 0.1vw solid #ccc;
  border-radius: 0.2vw;
}

.modal-buttons {
  text-align: right;
  margin-top: 2.7vw;
}

.save-button,
.cancel-button {
  padding: 1vw 2.7vw;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
  font-weight: bold;
}

.save-button {
  background-color: #007bff;
  color: white;
}

.cancel-button {
  background-color: #ccc;
  margin-right: 0.68vw;
}

.cancel-button:hover {
  background-color: #999;
}

.modal-content.rounded {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  margin-top: 2vw;
}

.modal-checkbox label {
  margin-right: 0.34vw;
  font-size: 1.36vw;
}

.modal-checkbox input[type="checkbox"] {
  width: 2.7vw;
  height: 2.7vw;
  appearance: none;
  border: 0.1vw solid #ccc;
  border-radius: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-checkbox input[type="checkbox"]:checked {
  background-color: #007bff;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.pagination {
  position: fixed;
  bottom: 0.68vw;
  right: 0.68vw;
  text-align: center;
}

.page-box {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.34vw 0.68vw;
  background-color: white;
}

.page {
  color: #007bff;
}

.arrow-box {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.34vw 0.68vw;
  background-color: white;
}

.arrow {
  font-size: 1vw;
  cursor: pointer;
  color: #007bff;
}
